<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
	<title>PRICE CHECKER</title>
</head>
<body>
	<div class="container">
		<h1 class="logo" style="margin-bottom: 64px;">PRICE CHECKER</h1>
		<h2 style="margin-bottom: 32px;">Личный кабинет</h2>
		<p style="margin-bottom: 32px;">Создайте аккаунт, чтобы добавлять товары в избранное, а также 
		отслеживать цены на выбранные товары и получать оповещение, когда 
		стоимость упала до определённого значения.</p>
		<div th:if="${authorities.contains(&quot;ROLE_ANONYMOUS&quot;)}"
			 style="display: flex; justify-content: center; gap: 64px; margin-bottom: 64px;">
			<a th:href="@{/login}">Войти</a>
			<a th:href="@{/register}">Зарегистрироваться</a>
		</div>
		<div th:if="${authorities.contains(&quot;ROLE_USER&quot;)}"
			 style="display: flex; justify-content: center; gap: 64px; margin-bottom: 64px;">
			<a th:href="@{/profile}">Перейти в аккаунт</a>
		</div>
		<h2 style="margin-bottom: 32px;">Как это работает?</h2>
		<p style="margin-bottom: 32px;">Приложение проходится по крупнейшим российским Интернет-площадкам и
			показывает товары по заданному поиску. По умолчанию товары выводятся в порядке убывания цены.
			Можно вводить как обобщённые слова (монитор, клавиатура, утюг),	так и конкретные модели
			(RTX 4090, iPhone 12), и таким образом находить, где определённые товары стоят дешевле всего.</p>
		<div style="position: relative; max-width: 512px; margin-bottom: 64px;">
			<input id="searchbar" type="text" class="form-control" placeholder="Введите название товара">
			<button id="searchbar-button"><i class="bi bi-search"></i></button>
		</div>
		<div id="result">
<!--			<div class="result-item">
				<img class="item-photo" th:src="@{/images/videocard.jpg}"/>
				<div class="result-item__info">
					<a class="item-name" href="#">Видеокарта Palit GeForce GTX 1660 SUPER Gaming Pro [NE6166S018J9-1160A-1] [PCI-E 3.0, 6 ГБ GDDR6, 192 бит, DVI-D, DisplayPort, HDMI, GPU 1530 МГц]</a>
					<div class="result-item__info__bottom">
						<button class="item-favorite"><i class="bi bi-star"></i></button>
						<img th:src="@{/images/logos/dns.png}" class="item-logo"/>
						<h3 class="item-price">19 999р</h3>
					</div>
				</div>
			</div>

			<div class="result-item">
				<div class="item-photo">
				<div class="result-item__info">
					<a class="item-name" href="#">Холодильник двухкамерный Beko B5RCNK403ZWB Total No Frost</a>
					<div class="result-item__info__bottom">
						<button class="item-favorite"><i class="bi bi-star-fill"></i></button>
						<img th:src="@{/images/logos/regard.png}" class="item-logo"/>
						<h3 class="item-price">44 990р</h3>
					</div>
				</div>
			</div>-->
		</div>
	</div>
	<div id="page-mask" style="display: none;"></div>
	<div id="loading-spinner" class="spinner-border text-warning" role="status" style="display: none;">
		<span class="visually-hidden">Loading...</span>
	</div>
</body>
<footer>

</footer>
<th:block th:replace="~{fragments/scripts}"></th:block>
<html>