<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
    <title>PRICE CHECKER</title>
</head>
<body>
<div class="container">
    <h1 class="logo" style="margin-bottom: 64px;">PRICE CHECKER</h1>
    <div style="display: flex; justify-content: center; gap: 64px; margin-bottom: 64px;">
        <a th:href="@{/}">Перейти к поиску</a>
        <a th:href="@{/logout}">Выйти из аккаунта</a>
    </div>
    <div class="account-card">
        <div th:if="${account.avatar == null}" class="account-card__photo"
             th:style="'background-image: url(' + @{/images/default_avatar.png} + ');'"></div>
        <div th:if="${account.avatar != null}" class="account-card__photo"
             th:style="'background-image: url(' + 'data:;base64,' + ${accountImage} + ');'"></div>
        <div style="display: flex; flex-flow: column nowrap; justify-content: space-between; gap: 32px;">
            <div class="account-card__info">
                <p>Почта: [[${account.username}]]</p>
                <p>Дата регистрации: [[${#dates.format(account.registrationDate, 'dd.MM.yyyy')}]]</p>
            </div>
            <div class="account-card__settings">
                <a class="account-card__settings__change-password" href="#">Сменить пароль</a>
                <form method="POST" id="change-password-form" th:action="@{profile/password}" hidden>
                    <input id="password" name="password" type="password" class="form-control"
                           placeholder="Пароль" style="margin-bottom: 16px;">
                    <input id="confirmPassword" type="password" class="form-control" placeholder="Подтверждение пароля">
                    <a class="account-card__settings-change-password__cancel" href="#">Отмена</a>
                    <a class="account-card__settings-change-password__confirm" href="#">Подтвердить</a>
                </form>
                <a class="account-card__settings__change-avatar" href="#">Сменить аватар</a>
                <form method="POST" enctype="multipart/form-data" id="change-avatar-form"
                      th:action="@{profile/avatar}" hidden>
                    <input type="file" name="file" />
                </form>
            </div>
        </div>
    </div>
    <h2 style="margin-bottom: 64px;">Избранные товары</h2>
    <div class="result">
        <p th:if="${favoriteItems.isEmpty()}"
           style="text-align: center; color: var(--secondary);">У вас нет никаких избранных товаров</p>
    </div>
</div>
</body>
<th:block th:replace="~{fragments/toasts}"></th:block>
<th:block th:replace="~{fragments/scripts}"></th:block>
<script th:inline="javascript" th:src="@{/scripts/profile.js}"></script>
<html>