/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
    --light: #F5F5F5;
    --secondary: #CED4DA;
    --primary: #0D6EFD;
    --primary-hover: #0A58CA;
    --dark: #212529;
	--success: #198754;
	--warning: #ffc107;
	--danger: #dc3545;
}

body {
	color: white;
	background-color: var(--dark);
}

a, a:hover {
    text-decoration: none;
}

.logo {
	font-family: 'Inter', serif;
	font-size: 64px;
	font-weight: normal;
}

h1, h2, h3, h4, p, a {
    font-family: 'Merriweather', serif;
}

h1, h3 {
    letter-spacing: 0.1em;
}

h1 {
    font-size: 64px;
    font-weight: bold;
}

h2 {
    font-size: 32px;
    font-weight: normal;
}

h3 {
    font-size: 24px;
    font-weight: normal;
}

h4 {
    font-size: 24px;
    font-weight: 200;
}

p, a {
    font-size: 16px;
    font-weight: normal;
}

a {
    color: white;
    transition: color 0.3s ease-out 0s;
}

a:hover {
    color: var(--warning);
}

.underline-white,
.underline-black {
	padding: 0 32px 32px 32px;
}

.underline-white {
	border-bottom: 2px solid white;
}

.underline-black {
	border-bottom: 2px solid black;
}

/* These lines are needed so that underline on headers shows up correctly */
h1.underline-white, 
h2.underline-white, 
h3.underline-white, 
h4.underline-white, 
h5.underline-white, 
h6.underline-black, 
h1.underline-black, 
h2.underline-black, 
h3.underline-black, 
h4.underline-black, 
h5.underline-black, 
h6.underline-black{
	display: inline-block;
}


/*--------------------------------------------------------------
# FOOTER
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Main Section
--------------------------------------------------------------*/
.container {
	padding: 64px;
}

.container > * {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

.container > p {
	max-width: 640px;
	text-align: justify;
}

#searchbar {
	font-family: 'Merriweather', serif;
	font-size: 16px;
    font-weight: normal;
}

#searchbar-button {
    border: none;
    background: transparent;
    position: absolute;
    color: black;
    font-size: 1.5em;
    bottom: calc(38px - 1.5em);
    right: 12px;
}

#result {
    display: flex;
    flex-flow: column nowrap;
    gap: 32px;
    max-width: 640px;
    text-align: justify;
}

.result-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 16px;
    padding: 16px;
    height: 192px;
    border-radius: 16px;
    background-color: rgb(0, 0, 0, 0.25);
}

.item-photo {
    min-width: 160px;
    width: 160px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.result-item__info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    flex: 1;
}

.result-item__info > a {
	/* Showing only frist three lines of text, hiding the rest */
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.result-item__info__bottom {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 32px;
}

.item-favorite {
    height: 48px;
    width: 48px;
    border: none;
    border-radius: 8px;
    background-color: var(--dark);
    color: var(--warning);
    font-size: 2em;
}

.item-logo {
    width: 128px;
    height: auto;
}


#loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
}

#page-mask {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0,0,0,0.6);
}



@media (max-width: 768px) {
	.container {
		padding: 16px;
	}

	.result-item {
	    height: 288px;
	}

	.item-photo {
        min-width: 80px;
        width: 80px;
    }
}