/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
    --light: #F5F5F5;
    --secondary: #CED4DA;
    --primary: #0D6EFD;
    --primary-hover: #0A58CA;
    --dark: #212529;
	--success: #198754;
	--warning: #ffc107;
	--danger: #dc3545;
}

body {
	color: white;
	background-color: var(--dark);
	font-size: 16px;
}

a, a:hover {
    text-decoration: none;
}

.logo {
	font-family: 'Inter', serif;
	font-size: 4em;
	font-weight: normal;
}

h1, h2, h3, h4, p, a {
    font-family: 'Merriweather', serif;
}

h1, h3 {
    letter-spacing: 0.1em;
}

h1 {
    font-size: 4em;
    font-weight: bold;
}

h2 {
    font-size: 2em;
    font-weight: normal;
}

h3 {
    font-size: 1.5em;
    font-weight: normal;
}

h4 {
    font-size: 1.5em;
    font-weight: 200;
}

p, a {
    font-size: 1em;
    font-weight: normal;
}

a {
    color: white;
    transition: color 0.3s ease-out 0s;
}

a:hover {
    color: var(--warning);
}

.overline {
	padding: 16px 64px 0px 64px;
	border-top: 1px solid;
}


/*--------------------------------------------------------------
# FOOTER
--------------------------------------------------------------*/
footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    margin: auto;
    text-align: center;
    padding: 16px;
    background-color: rgb(0, 0, 0, 0.25);
    color: var(--secondary);
    min-height: 128px;
}

footer * {
    margin-bottom: 8px;
    width: fit-content;
}
/*--------------------------------------------------------------
# Main Section
--------------------------------------------------------------*/
.container {
	padding: 64px;
}

.container > * {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

.container > p {
	max-width: 640px;
	text-align: justify;
}

#searchbar {
	font-family: 'Merriweather', serif;
	font-size: 1em;
    font-weight: normal;
}

#searchbar-button {
    border: none;
    background: transparent;
    position: absolute;
    color: black;
    font-size: 1.5em;
    bottom: 0;
    right: 0.75rem;
}

.result {
    display: flex;
    flex-flow: column nowrap;
    gap: 32px;
    max-width: 640px;
    text-align: justify;
}

.result-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 16px;
    padding: 16px;
    height: 192px;
    border-radius: 16px;
    background-color: rgb(0, 0, 0, 0.25);
}

.item-photo {
    min-width: 160px;
    width: 160px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.result-item__info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    flex: 1;
}

.result-item__info > a {
	/* Showing only frist three lines of text, hiding the rest */
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.result-item__info__bottom {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 32px;
}

.item-favorite {
    height: 1.5em;
    width: 1.5em;
    border: none;
    border-radius: 8px;
    background-color: var(--dark);
    color: var(--warning);
    font-size: 2em;
}

.item-logo {
    width: 8em;
    height: auto;
}

#loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
}

#page-mask {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0,0,0,0.6);
}

/* Adaptation for mobile devices */
@media (max-width: 768px) {

    body {
        font-size: 12px;
    }

	.container {
		padding: 16px;
	}

	.item-photo {
        min-width: 80px;
        width: 80px;
    }

    .result-item__info__bottom {
        gap: 16px;
    }
}


/*--------------------------------------------------------------
# Registration and Login Section
--------------------------------------------------------------*/
form > input[type=text],
form > input[type=password],
form > input[type=submit] {
    font-family: 'Merriweather', serif;
    font-size: 1em;
    font-weight: normal;
    border-radius: 16px;
}

form > input[type=text],
form > input[type=password] {
    margin-right: auto;
    margin-left: auto;
    max-width: 320px;
}

form > input[type=submit] {
    border: none;
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    padding: 8px;
    width: 200px;
    transition: background-color 0.3s ease-out 0s;
}

form > input[type=submit]:hover {
    background-color: black;
}

.error {
    color: var(--danger);
}

/*--------------------------------------------------------------
# Profile Section
--------------------------------------------------------------*/
.account-card {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 32px;
    text-align: left;
    margin: auto;
    margin-bottom: 64px;
}

.account-card__photo {
    min-width: 192px;
    min-height: 192px;
    width: 192px;
    height: 192px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.account-card__info > p,
.account-card__settings > a {
    margin-bottom: 0;
}

.account-card__settings > a {
    display: block;
}

@media (max-width: 768px) {
    .account-card__photo {
        min-width: 128px;
        min-height: 128px;
        width: 128px;
        height: 128px;
    }
}